<md-dialog ng-cloak ng-controller="dialogController" class="dialogClass">
    <md-dialog-content>


            <div class="dialogHeader " layout-align="center center" layout-wrap="">Select Travel Preference</div>
            <!-- <form ng-submit="submit()" class="md-padding" ng-cloak > -->
                <md-radio-group class="dialogRadio" ng-model="typeOfTravel" layout="row" layout-align="center center">
                    <md-radio-button value="0" class="md-checked md-primary" >One Way</md-radio-button>
                    <md-radio-button value="1" class="md-primary">Round Trip</md-radio-button>
                    <md-radio-button value="2" class="md-primary">Multi City</md-radio-button>
                </md-radio-group>
                <md-dialog-actions layout="row">
                  <!-- {{typeOfTravel}} -->
                  <div layout="row"  class="dialogButtons">
                    <div layout="column" class="dialogCancel">
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>
                  </div>
                   <div layout="column"  class="dialogProceed" >
                    <md-button ng-click="go()" type="submit" >
                        Proceed
                    </md-button>
                  </div>
                  </div>
                </md-dialog-actions>
            <!-- </form> -->
        </div>



</md-dialog>
