<travel-plan></travel-plan>
indide travelPlanParentComp
<!-- <travel-plan-node-component update-current-state="travelPlanParentCtrl.updateCurrentState(elementId,elementType, childState)">
</travel-plan-node-component> -->

<travel-plan-form-component current-form-data="travelPlanParentCtrl.currentFormData" current-form-fields-data="travelPlanParentCtrl.currentFormFieldsData" essential-fields-update="travelPlanParentCtrl.essentialFieldsUpdate(fieldId, essentialFieldsValues)" child-servies-form-update="travelPlanParentCtrl.childServiesFormUpdate(childServiceId, fieldId, childServicesFormValues)"></travel-plan-form-component>
