<travel-plan addnode="travelPlanParentCtrl.addNode()" subnode="travelPlanParentCtrl.subNode()" updatenode="travelPlanParentCtrl.updateNode()"
             currentnode="travelPlanParentCtrl.currentNode()" traveljson="travelPlanParentCtrl.travelPlan">

</travel-plan>
<travel-plan-form current-form-data="travelPlanParentCtrl.currentFormData"
                            current-form-fields-data="travelPlanParentCtrl.currentFormFieldsData"
                            essential-fields-update="travelPlanParentCtrl.essentialFieldsUpdate(fieldId, essentialFieldsValues)"
                            child-services-form-update="travelPlanParentCtrl.childServicesFormUpdate(childServiceId, fieldId, childServicesFormValues)">

</travel-plan-form>

