<!-- <h3>hellllo</h3> -->
<!-- {{$ctrl.filtrs}} -->
<!-- <h4> slider man </h4>{{$ctrl.slideP}} <br> -->



<md-card ng-repeat="filt in $ctrl.filtrs">
  <md-card-title>
    <md-card-title-text>
      {{filt.Displayname}}
    </md-card-title-text>
  </md-card-title>
    <md-card-content>
      <div ng-show={{filt.type=='slider'}}>
        <!-- <pricefilter range=range></pricefilter> -->
        <span ng-bind="$ctrl.range"></span>
        <md-slider aria-label="$ctrl.range" ng-model="$ctrl.range" min={{filt.data.min}} max={{filt.data.max}} ng-change="$ctrl.onlistchange({value1:filt.type,value2:filt.id,value3:$ctrl.range})">
        </md-slider>

      </div>
      <div ng-show={{filt.type=='checkbox'}}>
        <div ng-repeat="area in filt.data">
          <md-checkbox ng-model="chkbox" aria-label="{{area}}" ng-change="$ctrl.onlistchange({value1:filt.type,value2:area,value3:chkbox})" >{{area}}</md-checkbox>
        </div>
        <!-- <areafilter></areafilter> -->
      </div>
      <div ng-show={{filt.type=='button'}}>
        <!-- <timefilter></timefilter> -->
        <div ng-repeat="time in filt.data" class="filt_button">
          <button ng-click="$ctrl.onlistchange({value1:filt.type,value2:filt.id,value3:$index})">{{time}}</button>
        </div>

      </div>
    </md-card-content>
</md-card>
