<essential-fields-form-component form-data="travelPlanFormCtrl.essentialFormData" bind-data-key="essentialFormData" form-field-essential-data ="travelPlanFormCtrl.currentFormFieldsEssentialData" reflect-form-data = "travelPlanFormCtrl.essentialFieldsUpdateWrapper(keyString,value)"
 ></essential-fields-form-component>

<child-services-wrapper-component form-data="travelPlanFormCtrl.travelPlanFormCtrl.currentFormData" bind-data-key="travelPlanFormCtrl.currentFormData" form-field-essential-data ="travelPlanFormCtrl.currentFormFieldsChildServicesData" reflect-form-data="travelPlanFormCtrl.childServicesFormUpdateWrapper(keyString,value, childServiceId)" form-fields-services-names="travelPlanFormCtrl.currentFormFieldsServicesNames"></child-services-wrapper-component>
