<!--<travel-plan travelplanobject="hotelSearchResultsParent.travelPlanObject" nodetype="location"
edgetype=" transit" currentnodeedgebooking=" hotelSearchResultsParent.currentnodeedgebooking(value2)">
</travel-plan>-->
<hotel-search-results-component filter-type="hotelSearchResultsParent.filter_type" filter-details="hotelSearchResultsParent.filter_details" search-results="hotelSearchResultsParent.searchResults"></hotel-search-results-component>
<!--<button ng-click="hotelSearchResultsParent.call()"></button>-->
