<link rel="stylesheet" href="public/css/myStyle.css">
<div id="outerDiv">
<!--    <md-toolbar layout="row" class="navbar" style="position:fixed;">
        <div id="left"><h2>K2</h2></div>
        <div id="right">
            <i class="material-icons">home</i>
            <i class="material-icons">notifications</i>
            <i class="material-icons">account_circle</i>
        </div>
    </md-toolbar>`
  -->
    <div id="content">
        <div layout="row">
            <md-card id="size">
                <md-card-content>
                    Your criteria
                </md-card-content>
            </md-card>
            <md-card id="size">
                <md-card-content>
                    Mandatory
                </md-card-content>
            </md-card>
            <md-card id="size">
                <md-card-content>
                    Serach result
                </md-card-content>
            </md-card>
            <md-card id="size">
                <md-card-content>
                    Confirmation
                </md-card-content>
            </md-card>
        </div>
        <div layout="row">
            <div layout="column" id="leftColumn">
                <div id="line1"></div>
                <div id="circle">
                    <i class="material-icons icon">location_on</i>
                </div>
                <div id="line1"></div>
                <div id="box">
                    <i class="material-icons">local_taxi</i>
                </div>
                <div id="line"></div>
                <div id="box">
                    <i class="material-icons">flight</i>
                </div>
                <div id="line1"></div>
                <div id="circle">
                    <i class="material-icons icon">location_on</i>
                </div>
            </div>

            <div layout="column" id="rightColumn">
                <div ng-repeat="(key,value) in finalArray">
                    <div ng-repeat="(key,value) in value">
                        <div ng-repeat="(key,value) in value">

                            <div ng-if="key=='city'">
                                <div layout="row" ng-repeat="(key,value) in value">
                                    <h2>{{value}}</h2>
                                </div>
                            </div>

                            <div ng-if="key=='local'">

                                <md-card ng-repeat="(key,value) in value">
                                    <md-card-content layout="row">
                                        <div class="image">
                                          <img src="{{value.logo}}">
                                        </div>
                                        <div class="nameFont secondDiv">
                                            {{value.type}}
                                        </div>
                                        <div layout="row">
                                           <div layout="column">
                                              <div class="timeFont">{{value.pickUpTime}}</div>
                                               <div>{{value.pickUpDate}}</div>
                                              <div>{{value.source}}</div>
                                           </div>
                                           <div>
                                              <hr class="horizontal">
                                           </div>
                                           <div layout="column">
                                              <div class="timeFont">{{value.dropTime}}</div>
                                               <div>{{value.dropDate}}</div>
                                              <div>{{value.destination}}</div>
                                           </div>
                                        </div>
                                        <div class="priceFont">
                                            {{value.price}}
                                        </div>
                                    </md-card-content>
                                </md-card>

                            </div>

                            <div ng-if="key=='accommodation'">

                                <md-card ng-repeat="(key,value) in value">
                                    <md-card-content layout="row">
                                        <div class="image">
                                            <img src="{{value.logo}}">
                                        </div>
                                        <div layout="column" class="secondDiv">
                                             <div class="nameFont">{{value.name}}</div>
                                             <div>{{value.roomType}}</div>
                                             <div>{{value.location}}</div>
                                        </div>
                                        <div layout="row">
                                            <div layout="column">
                                                <div class="timeFont">{{value.checkInTime}}</div>
                                                <div>{{value.checkInDate}}</div>
                                            </div>
                                            <div>
                                                <hr class="horizontal">
                                            </div>
                                            <div layout="column">
                                                <div class="timeFont">{{value.checkOutTime}}</div>
                                                <div>{{value.checkOutDate}}</div>
                                            </div>
                                        </div>
                                        <div class="priceFont">
                                            {{value.price}}
                                        </div>
                                    </md-card-content>
                                </md-card>

                            </div>

                            <div ng-if="key=='flight'">

                                <md-card ng-repeat="(key,value) in value">
                                    <md-card-content layout="row">
                                           <div class="image" >
                                               <img src=" {{value.logo}}">
                                           </div>
                                        <div layout="column" class="secondDiv">
                                           <div class="nameFont"> {{value.name}}</div>
                                            <div>{{value.class}}</div>
                                        </div>
                                           <div layout="column">
                                               <div>{{value.noOfStop}}</div>
                                                <div layout="row">
                                                   <div layout="column">
                                                       <div layout="row">
                                                           <div class="cityFont">{{value.source}}</div>
                                                         <div class="timeFont">{{value.startTime}}</div>
                                                       </div>
                                                       <div>{{value.startDate}}</div>
                                                       <div>{{value.sourceAirport}}</div>
                                                   </div>
                                                   <div>
                                                       <hr class="horizontal">
                                                   </div>
                                                   <div layout="column">
                                                       <div layout="row">
                                                          <div class="timeFont">{{value.endTime}}</div>
                                                           <div class="cityFont">{{value.destination}}</div>
                                                       </div>
                                                       <div>{{value.endDate}}</div>
                                                       <div>{{value.destinationAirport}}</div>
                                                   </div>
                                                </div>
                                           </div>
                                           <div layout="column">
                                               <div class="priceFont">{{value.price}}</div>
                                               <div ng-repeat="(key,value) in value.preference">
                                                   <div ng-repeat="(key,value) in value">
                                                     {{key}} : {{value}}
                                                   </div>

                                               </div>
                                           </div>
                                    </md-card-content>
                                </md-card>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
