<div>
    <div style='height:200px; width:100%; background:blue;'>
    </div>
    <div style='margin-top:-150px'>
        <div layout='row' layout-align='space-between center' style='height:60px;  width:90%; border-bottom:2px solid grey;margin-left:5%; background: white;'>
            <h2 style='margin-left:5%;'>K2</h2>
            <div style='margin-right:5%;'>
                <i class="material-icons" style="font-size:25px;">home</i>
                <i class="material-icons" style="font-size:25px;">notifications</i>
                <i class="material-icons" style="font-size:25px;">person</i>
            </div>
        </div>
        <div layout='row' layout-align='space-between center' style='height:100px;  width:90%; margin-left:5%; background: white;'>

        </div>
        <div style='width:90%; margin-left:5%; background:#e3e3e3;'>
            <div layout='row'>
                <div class='filter' flex='20' layout='column'style='margin:15px 0%;'>
                    <md-card>
                        <md-card-text style='margin-left:10px; margin-top:10px;'>Price</md-card-text>
                        <md-slider style='margin-left:10px; margin-top:10px' flex class="md-primary" md-discrete ng-model="rating3" step="500" min="1000" max="30000" aria-label='rating'>
                        </md-slider>
                    </md-card>
                    <md-card layout='column'>
                        <md-card-text style='margin-left:10px; margin-bottom:10px; margin-top:10px; font-size:17px;'>Location:</md-card-text>
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary" class='checkbox' style='margin-left:10px;'>
                            Koramangala
                        </md-checkbox>
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb6" class="md-primary" class='checkbox' style='margin-left:10px;'>
                            Sarjapur
                        </md-checkbox>
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb7" class="md-primary"class='checkbox' style='margin-left:10px;'>
                            Electronic City
                        </md-checkbox>
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb8" class="md-primary"class='checkbox' style='margin-left:10px;'>
                            Madiwala
                        </md-checkbox>
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb9" class="md-primary" class='checkbox' style='margin-left:10px;'>
                            BTM Layout
                        </md-checkbox>
                    </md-card>
                    <md-card >
                        Insert Filters 3
                    </md-card>
                    <md-card >
                        Insert Filters 4
                    </md-card>
                </div>
                <div layout='column' flex='80' style='margin:15px 0%;'>
                    <md-card layout='row' layout-align='start center'>
                        <md-card-media layout="row" layout-align="center center">
                            <img style="height: 70px !important; margin:10% 10%; padding:5%;
              width: 100px !important;" src="SpiceJet.png" alt="SpiceJet Airways">
                        </md-card-media>
                        <div layout="row" flex layout-align="space-around center">
                            <div>05:05</div>
                            <div>07:45</div>
                            <div>02h 40m</div>
                            <div class="">$3899</div>
                            <div layout="row" layout-align="center center">
                                <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-transclude="" style="margin-left:0" aria-label="Select"><span class="ng-scope">Select</span><div class="md-ripple-container"></div></button>
                            </div>
                        </div>
                    </md-card>
                    <md-card layout='row' layout-align='space-between'>
                        <md-card-media layout="row" layout-align="center center">
                            <img style="height: 70px !important; margin:10% 10%; padding:5%;
              width: 100px !important;" src="IndiGo.jpg" alt="SpiceJet Airways">
                        </md-card-media>
                        <div layout="row" flex layout-align="space-around center">
                            <div>05:05</div>
                            <div>07:45</div>
                            <div>02h 40m</div>
                            <div class="">$3899</div>
                            <div layout="row" layout-align="center center">
                                <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-transclude="" style="margin-left:0" aria-label="Select"><span class="ng-scope">Select</span><div class="md-ripple-container"></div></button>
                            </div>
                        </div>
                    </md-card>
                    <md-card layout='row' layout-align="start center">
                        <md-card-media layout="row" layout-align="center center">
                            <img style="height: 70px !important; margin:10% 10%; padding:5%;
            width: 100px !important;" src="JetAirways.png" alt="SpiceJet Airways">
                        </md-card-media>
                        <div layout="row" flex layout-align="space-around center">
                            <div>05:05</div>
                            <div>07:45</div>
                            <div>02h 40m</div>
                            <div class="">$3899</div>
                            <div layout="row" layout-align="center center">
                                <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-transclude="" style="margin-left:0" aria-label="Select"><span class="ng-scope">Select</span><div class="md-ripple-container"></div></button>
                            </div>
                        </div>
                    </md-card>
                    <md-card layout='row' layout-align='space-between'>
                        <md-card-media layout="row" layout-align="center center">
                            <img style="height: 70px !important; margin:10% 10%; padding:5%;
              width: 100px !important;" src="SpiceJet.png" alt="SpiceJet Airways">
                        </md-card-media>
                        <div layout="row" flex layout-align="space-around center">
                            <div>05:05</div>
                            <div>07:45</div>
                            <div>02h 40m</div>
                            <div class="">$3899</div>
                            <div layout="row" layout-align="center center">
                                <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-transclude="" style="margin-left:0" aria-label="Select"><span class="ng-scope">Select</span><div class="md-ripple-container"></div></button>
                            </div>
                        </div>
                    </md-card>
                </div>
            </div>
        </div>
    </div>


</div>