body{
    text-align: center;
    text-transform: capitalize;
    color: 	#686868;
}
#outerDiv{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #D0D0D0  ;
}
#left{
    float: left;
}
#right{
    margin-left: 1400px;
    margin-top: 20px;
}
#content{
    margin-top: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#size{
    width: 300px;
}
#line{
    height: 100px;
    width: 1.8%;
    background-color: black;
    margin-left: 50%;
}
#box{
    width: 35px;
    height: 35px;                           /* icon box*/
    background-color: #330099;
    position: relative;
}
#circle{
    width: 35px;
    height: 35px;
    background-color: #330099;
    position: relative;                       /* icon circle*/
    border-radius: 500px;
    -webkit-border-radius: 500px;
}

/*my css*/
.space{
    margin-left: 10px;                           /* space between tab*/
}
#leftColumn{
    width: 5%;
    margin-left: 50px;

}
#rightColumn{
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-left: 30px;
}
i.material-icons {
    position: absolute;
    top: 18%;
    left: 16%;
    color: white;
}
md-card{
    width: 80%;
    margin-left: 5%;
}
.alignStart{
    width: 80%;
}
.image{
    width: 250px;
    height: 80px;
}
.horizontal{
    width: 80px;
    height: 1px;
    background-color: #686868;
}
.secondDiv{
    width: 50%;
}
md-card-content div{
    align-self: center;
    float: left;
    width: 100%;
}
.priceFont{
    color: black;
    font-size: x-large;
    font-weight: 300;
}
.timeFont{
    color: black;
    font-size: large;
    font-weight: 200;
}
.cityFont{
    color: #999999;
    font-size: medium;
    font-weight: 200;
}
.nameFont{
    font-size: large;
    font-weight: 200;
}
