#sidebar{
  margin-left:10%;
}
#sidebar md-grid-list{
  margin: 10px 0 0 0;
  font-weight:bold;
}
#sidebar md-card{
  margin-bottom:10px;
}
#sidebar md-card button{
  width:20%;
  height:40px;
  border: none;
  font-size:12px;
  display:inline;
}
#sidebar md-checkbox{
  margin:0 5px 10px 15px;
}
#mainbar{
  margin-left: 1%;
  margin-right: 10%;
}
#mainbar .det_header{
  margin:10px 0 0 10px;
  padding: 10px;
  font-weight:bold;
}
#mainbar .det_header i{
  color: blue;
}

#mainbar md-card{
  padding: 10px;
  margin-bottom: 10px;
}
#mainbar md-card .det_cards{
  font-size:16px;
  text-align:center;
}
.det_cards .spann{
  font-size:12px;
}
#mainbar .selectButton{
  min-width: 20px;
}
md-card-title{
  font-size: 20px;
}
.content_div{
  background-color: #e3e3e3;
  margin:auto;
}
