<div class="title">

  <md-content layout-xs="column" layout="row" class="main_content">
    <!-- <div flex-xs flex-gt-xs="65">
  -->
  <div class="col1" flex-xs flex-gt-xs="65">
    <div layout="column">

<alert></alert>

  <div layout="column" flex-xs flex-gt-xs="65">
   <mycurrentplan></mycurrentplan>
</div>

<myworklist></myworklist>
</div>

</div>
<div class="button_flex col2" flex-xs flex-gt-xs="35">
  <div>
   <mainbutton></mainbutton>
  </div>
  <div layout="column" flex-xs flex-gt-xs="100">
   <myfavourite></myfavourite>
  </div>
  <div layout="column" flex-xs flex-gt-xs="100">
    <mytravelcalendar></mytravelcalendar>
  </div>
</div>
