
    <div layout-xs="column" layout-sm="column" layout="row" flex="100">
        <div layout="column" layout-sm="column" layout-xs="column" flex="65" flex-xs="50">
            <my-current-plan current="current" completed="completed" future="future"></my-current-plan>
            <my-worklist messages="messages"></my-worklist>
        </div>
        <div flex="35" layout-sm="column" layout-xs="column" layout="column" flex-xs="50">
          <my-favourite fav=fav(value) locality="locality"></my-favourite>
          <my-alert  alertdata="alertdata"></my-alert>
          <my-calendar></my-calendar>
        </div>
   </div>
    <div class="main-button-fixed">
      <main-buttons></main-buttons>
    </div>
