

<span ng-click="node.show_autocomplete()">{{node.travelelement.essential.noDependencyData.location||'edit'}}</span>
<div ng-show="node.edit==true">
  <custom-input-box class="node-md-action-input"  type="{{node.locationMetaData.type}}" label="{{node.locationMetaData.displayName}}" bind-data="node.travelelement.essential.noDependencyData[node.locationMetaData.id]"
  id="{{node.locationMetaData.id}}" specific-attr="node.locationMetaData.specificAttr"  reflect-custom-input="node.onReflect(keyString,value,id)"></custom-input-box>
</div>
<div class="node" click-outside="node.closeThis(value)" outside-if-not="nodeid,node-md-main-action">
  <div class="node-md" ng-click="node.sendDetailsOfElement(node.currentnode)">
    {{node.travelelement.essential.noDependencyData.location|limitTo:3|uppercase}}
  </div>
  <div class=""  ng-repeat="(key,value) in node.locationchildservices">
    <div class="wrapper">
      <i class="material-icons"  class="childservices" ng-click="node.sendDetailsOfChild(node.currentnode,key)">{{value.icons}}</i>
      <div class="tooltip" ng-if="node.travelelement.childServices[key]==''">
        Please select a {{key}}
      </div>
      <div class="tooltip" ng-if="!node.travelelement.childServices[key]==''">
        <div ng-repeat="x in node.travelelement.childServices[key]">
          <div ng-if="x.state=='request'">
            Requested at {{x.requested.location}}
          </div>
          <div ng-if="x.state=='select'">
            Seclected at {{x.selected.location}}
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
