<div id="outerDiv">
  <div id="content" flex="80">
      <div layout="column">
          <div ng-repeat="data in model.travelPlanData">
             <div ng-repeat="(key,value) in data">

               <div ng-if="key=='essential'">
                 <div ng-repeat="(key,value) in value">
                   <div ng-if="key=='noDependencyData'">
                     <div ng-repeat="(key,value) in value">
                       <div ng-if="key=='location'">
                          <city-component value="value" get-display-keys="model.getDisplayKeys(parentKey)"></city-component>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>

              <div ng-if="key=='childServices'">
                <child-services-component value="value" get-mode-pref="model.getModePref(type)" get-seat-pref="model.getSeatPref(value)" get-display-keys="model.getDisplayKeys(parentKey)"></child-services-component>
             </div>
         </div>
     </div>
<div>
  <md-button class="md-raised md-primary">Modify</md-button>
  <md-button class="md-raised md-primary">Confirm</md-button>
</div>
</div><!--column layout end-->
</div><!--content end-->
</div>
