
<div ng-repeat="(fieldMetaDataId,fieldMetaDataValue) in childFormRenderer.fieldsMetaData" flex="20" flex-offset="5" flex-xs="80">
    <custom-input-box type="{{fieldMetaDataValue.type}}" label="{{fieldMetaDataValue.displayName}}" bind-data="fieldsData[fieldMetaDataId]"
    id="{{fieldMetaDataId}}" specific-attr="fieldMetaDataValue.specificAttr" bind-data-key="{{fieldMetaDataId}}" reflect-custom-input="childFormRenderer.onReflect(keyString,value,id)"></custom-input-box>
</div>
<div layout="row" layout-align="end center">
   <ng-md-icon flex="40" flex-offset="10" icon="delete" ng-click="childFormRenderer.delete()"></ng-md-icon>
   <ng-md-icon flex="40" flex-offset="10" icon="add_circle" ng-click="childFormRenderer.add()"></ng-md-icon>
</div>
