<link rel="stylesheet" href="public/css/myStyle.css">
<div id="outerDiv">
<!--    <md-toolbar layout="row" class="navbar" style="position:fixed;">
        <div id="left"><h2>K2</h2></div>
        <div id="right">
            <i class="material-icons">home</i>
            <i class="material-icons">notifications</i>
            <i class="material-icons">account_circle</i>
        </div>
    </md-toolbar>`
  -->
    <div id="content">
          <div layout="row">
              <md-card flex="20" flex-xs="20" flex-offset="10">
                  <md-card-content>
                      Your criteria
                  </md-card-content>
              </md-card>
              <md-card flex="20" flex-xs="20">
                  <md-card-content>
                      Mandatory
                  </md-card-content>
              </md-card>
              <md-card flex="20" flex-xs="20">
                  <md-card-content>
                      Serach result
                  </md-card-content>
              </md-card>
              <md-card flex="20" flex-xs="20">
                  <md-card-content>
                      Confirmation
                  </md-card-content>
              </md-card>
          </div>

        <div layout="column">
         <div ng-repeat="(key,value) in jsonData">
             <div ng-repeat="(key,value) in value">

                 <div ng-if="key=='cityName'">
                   <div layout="row" layout-align="center center">
                     <div id="circle">
                         <div id="line"></div>
                         <i class="material-icons circle-pad">location_on</i>
                         <div id="line"></div>
                     </div>
                     <md-card flex-offset="5" flex="80" flex-xs="70">
                         <md-card-content>
                             <div class="cityNameFont">{{value}}</div>
                         </md-card-content>
                     </md-card>
                   </div> <!--layout end-->
                 </div><!--city-->

                 <div ng-if="key=='childServices'">
                     <div ng-repeat="value in value">                               <!-- nodes1:value,node1s2:value,node1t1:value-->

                         <div ng-if="value.type=='stay'">
                                 <div layout="row" layout-align="center center">
                                     <div id="box">
                                         <div id="line"></div>
                                         <i class="material-icons">hotel</i>
                                         <div id="line"></div>
                                     </div>
                                     <md-card  flex="80" flex-offset="5" flex-xs="70">
                                         <md-card-content layout="row" layout-xs="column">
                                             <div flex="30">
                                                 <img flex="100" ng-src="{{value.selectedData.image}}">
                                             </div>
                                             <div layout="column" flex="90" flex-xs="30">
                                                 <div class="nameFont">{{value.selectedData.name}}</div>
                                                 <div class="seconDivDataFont">{{value.selectedData.roomType}}</div>
                                                 <div class="seconDivDataFont">{{value.selectedData.location}}</div>
                                             </div>
                                             <div layout="row" flex="100" flex-xs="30">
                                                 <div layout="column">
                                                     <div class="timeFont">{{value.selectedData.checkinTime}}</div>
                                                     <div class="dateFont">{{value.selectedData.checkinDate}}</div>
                                                 </div>
                                                 <div>
                                                     <hr class="horizontal">
                                                 </div>
                                                 <div layout="column">
                                                     <div class="timeFont">{{value.selectedData.checkoutTime}}</div>
                                                     <div class="dateFont">{{value.selectedData.checkoutDate}}</div>
                                                 </div>
                                             </div>
                                             <div class="priceFont" flex="100" flex-xs="30">
                                                 {{value.selectedData.price}}
                                             </div>
                                         </md-card-content>
                                     </md-card>
                             </div>
                         </div><!--stay end-->

                         <div ng-if="value.type=='localTravel'">
                             <div layout="row" layout-align="center center">
                                 <div id="box">
                                     <div id="line"></div>
                                     <i class="material-icons">local_taxi</i>
                                     <div id="line"></div>
                                 </div>
                                 <md-card flex="80" flex-offset="5" flex-xs="70">
                                     <md-card-content layout="row" layout-xs="column">
                                         <div flex="100">
                                            <div flex="100" layout="row" layout-xs="column" ng-if="value.selectedData.type=='cab'">
                                               <div flex="30" flex-xs="30">
                                                  <img flex="100" ng-src="{{value.selectedData.cab.image}}">
                                               </div>
                                               <div flex="70" flex-xs="30">
                                                   <div  class="nameFont">{{value.selectedData.type}} : {{value.selectedData.cab.cabType}}</div>
                                                   <div class="seconDivDataFont">{{value.selectedData.cab.driverDetails.name}}</div>
                                                   <div class="seconDivDataFont">{{value.selectedData.cab.cabNumber}}</div>
                                               </div>
                                             </div>
                                             <div flex="100" layout="row" layout-xs="column" ng-if="value.selectedData.type=='bus'">
                                                 <div flex="30" flex-xs="30">
                                                     <img flex="100" ng-src="{{value.selectedData.bus.image}}">
                                                 </div>
                                                 <div flex="70" flex-xs="30">
                                                     <div class="nameFont">{{value.selectedData.type}}</div>
                                                     <div class="seconDivDataFont">{{value.selectedData.bus.companyName}}:{{value.selectedData.bus.busType}}</div>
                                                     <div class="seconDivDataFont">{{value.selectedData.bus.seatsType}}</div>
                                                     <div class="seconDivDataFont">{{value.selectedData.bus.busNumber}}</div>
                                                 </div>
                                             </div>
                                         </div>
                                         <div layout="row" flex="100" flex-xs="30" flex-offset="5">
                                             <div layout="column">
                                                 <div class="timeFont">{{value.selectedData.pickupTime}}</div>
                                                 <div class="dateFont">{{value.selectedData.pickupDate}}</div>
                                                 <div class="dataFont">{{value.selectedData.source}}</div>
                                             </div>
                                             <div>
                                                 <hr class="horizontal">
                                             </div>
                                             <div layout="column">
                                                 <div class="timeFont">{{value.selectedData.dropTime}}</div>
                                                 <div class="dateFont">{{value.selectedData.dropDate}}</div>
                                                 <div class="dataFont">{{value.selectedData.destination}}</div>
                                             </div>
                                         </div>
                                         <div class="priceFont" flex="100" flex-xs="30">
                                             <div ng-if="value.selectedData.type=='cab'">
                                                  {{value.selectedData.cab.estimatedPrice}}
                                             </div>
                                             <div ng-if="value.selectedData.type=='bus'">
                                                 {{value.selectedData.bus.price}}
                                             </div>
                                         </div>
                                     </md-card-content>
                                 </md-card>
                             </div>
                         </div><!--local travel end-->

                         <div ng-if="value.status=='booking'">

                             <div ng-if="value.final.mode=='flight'">
                                 <div layout="row" layout-align="center center">
                                     <div id="box">
                                         <div id="line"></div>
                                         <i class="material-icons">flight</i>
                                         <div id="line"></div>
                                     </div>
                                     <md-card  flex="80" flex-offset="5" flex-xs="70">
                                         <md-card-content layout="row" layout-xs="column">
                                             <div flex="30">
                                                 <img flex="100" ng-src="{{value.final.flight.image}}">
                                             </div>
                                             <div layout="column" flex="60" flex-xs="30">
                                                 <div class="nameFont"> {{value.final.flight.companyName}}</div>
                                                 <div class="seconDivDataFont">{{value.final.flight.seatNumber}}</div>
                                             </div>
                                             <div layout="column" flex="100" flex-xs="30">
                                                 <div>{{value.final.flight.numberOfStop}}</div>
                                                 <div layout="row">
                                                     <div layout="column">
                                                         <div layout="row">
                                                             <div class="timeFont">{{value.final.travelStartTime}}</div>
                                                         </div>
                                                         <div class="dateFont">{{value.final.travelStartDate}}</div>
                                                         <div class="dataFont">{{value.final.flight.sourceAirport}}</div>
                                                     </div>
                                                     <div>
                                                         <hr class="horizontal">
                                                     </div>
                                                     <div layout="column">
                                                         <div layout="row">
                                                             <div class="timeFont">{{value.final.travelEndTime}}</div>
                                                         </div>
                                                         <div class="dateFont">{{value.final.travelEndDate}}</div>
                                                         <div class="dataFont">{{value.final.flight.destinationAirport}}</div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div layout="column" flex="100" flex-xs="30">
                                                 <div class="priceFont">{{value.final.flight.price}}</div>
                                                 <div class="preference" ng-repeat="(key,value) in value.final.flight.preferences">
                                                     {{key}} : {{value}}
                                                 </div>
                                             </div>

                                         </md-card-content>
                                     </md-card>
                                 </div>
                             </div><!--flight end-->

                             <div ng-if="value.final.mode=='train'">
                                 <div layout="row" layout-align="center center">
                                     <div id="box">
                                         <div id="line"></div>
                                         <i class="material-icons">train</i>
                                         <div id="line"></div>
                                     </div>
                                     <md-card  flex="80" flex-offset="5" flex-xs="70">
                                         <md-card-content layout="row" layout-xs="column">
                                             <div flex="30">
                                                 <img flex="100" ng-src="{{value.final.train.image}}">
                                             </div>
                                             <div layout="column" flex="100" flex-xs="30">
                                                 <div class="nameFont"> {{value.final.train.companyName}}</div>
                                                 <div class="seconDivDataFont">{{value.final.train.trainNumber}}</div>
                                                 <div class="seconDivDataFont">{{value.final.train.coachNumber}}:{{value.final.train.seatNumber}}</div>
                                             </div>
                                             <div flex="100" flex-xs="30">
                                                 <div layout="row">
                                                     <div layout="column">
                                                         <div layout="row">
                                                             <div class="timeFont">{{value.final.travelStartTime}}</div>
                                                         </div>
                                                         <div class="dateFont">{{value.final.travelStartDate}}</div>
                                                         <div class="dataFont">{{value.final.train.sourceStation}}</div>
                                                     </div>
                                                     <div>
                                                         <hr class="horizontal">
                                                     </div>
                                                     <div layout="column">
                                                         <div layout="row">
                                                             <div class="timeFont">{{value.final.travelEndTime}}</div>
                                                         </div>
                                                         <div class="dateFont">{{value.final.travelEndDate}}</div>
                                                         <div class="dataFont">{{value.final.train.destinationStation}}</div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div flex="100" flex-xs="30">
                                                 <div class="priceFont">{{value.final.train.price}}</div>
                                                 <div class="preference" ng-repeat="(key,value) in value.final.train.preferences">
                                                     {{key}} : {{value}}
                                                 </div>
                                             </div>
                                         </md-card-content>
                                     </md-card>
                                 </div>
                             </div><!--train end-->

                             <div ng-if="value.final.mode=='bus'">
                                 <div layout="row" layout-align="center center">
                                     <div id="box">
                                         <div id="line"></div>
                                         <i class="material-icons">directions_bus</i>
                                         <div id="line"></div>
                                     </div>
                                     <md-card  flex="80" flex-offset="5" flex-xs="70">
                                         <md-card-content layout="row" layout-xs="column">
                                             <div flex="30">
                                                 <img flex="100" ng-src="{{value.final.bus.image}}">
                                             </div>
                                             <div layout="column" flex="100" flex-xs="30">
                                                 <div class="nameFont"> {{value.final.bus.companyName}}</div>
                                                 <div class="seconDivDataFont">{{value.final.bus.busNumber}}</div>
                                                 <div class="seconDivDataFont">{{value.final.bus.seatNumber}}</div>

                                             </div>
                                             <div flex="100" flex-xs="30">
                                                 <div layout="row">
                                                     <div layout="column">
                                                         <div layout="row">
                                                             <div class="timeFont">{{value.final.travelStartTime}}</div>
                                                         </div>
                                                         <div class="dateFont">{{value.final.travelStartDate}}</div>
                                                         <div class="dataFont">{{value.final.bus.sourceBusStop}}</div>
                                                     </div>
                                                     <div>
                                                         <hr class="horizontal">
                                                     </div>
                                                     <div layout="column">
                                                         <div layout="row">
                                                             <div class="timeFont">{{value.final.travelEndTime}}</div>
                                                         </div>
                                                         <div class="dateFont">{{value.final.travelEndDate}}</div>
                                                         <div class="dataFont">{{value.final.bus.destinationBusStop}}</div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div layout="column" flex="100" flex-xs="30">
                                                 <div class="priceFont">{{value.final.bus.price}}</div>
                                                 <div class="preference" ng-repeat="(key,value) in value.final.bus.preferences">
                                                     {{key}} : {{value}}
                                                 </div>
                                             </div>
                                         </md-card-content>
                                     </md-card>
                                 </div>
                             </div><!--bus end-->

                         </div><!--booking end-->

                     </div><!--inner loop end-->
                 </div><!--childServices end-->
             </div><!--outer inner loop-->
          </div><!--jsonData end-->
        </div><!--row layout end-->
      </div><!--content end-->
  </div><!--outerDiv end-->
