<div ng-repeat="value in childServicesComponent.value">                               <!-- node1s1:value,node1s2:value,node1t1:value-->
    <div ng-if="value.type=='stay'">
        <display-component logo="value.selectedData.image" name="value.selectedData.name" room-type="value.selectedData.roomType" mode-value="value.type" start-time="value.selectedData.checkinTime" start-date="value.selectedData.checkinDate" end-time="value.selectedData.checkoutTime" end-date="value.selectedData.checkoutDate" location="value.selectedData.location"  price="value.selectedData.price"></display-component>
    </div>

    <div ng-if="value.type=='localTravel'">
      <div ng-if="value.selectedData.type=='cab'">
        <display-component object="value.selectedData.cab" name="value.selectedData.cab.companyName" logo="value.selectedData.cab.image" mode-value="value.selectedData.type" mode-key="childServicesComponent.modePref(type)" start-time="value.selectedData.pickupTime"  start-date="value.selectedData.pickupDate"  source="value.selectedData.source" end-time="value.selectedData.dropTime" end-date="value.selectedData.dropDate" destination="value.selectedData.destination" price="value.selectedData.cab.estimatedPrice"></display-component>
      </div>

      <div ng-if="value.selectedData.type=='localBus'">
        <display-component object="value.selectedData.localBus" name="value.selectedData.localBus.companyName"logo="value.selectedData.localBus.image" mode-value="value.selectedData.type" mode-key="childServicesComponent.modePref(type)" start-time="value.selectedData.pickupTime"  start-date="value.selectedData.pickupDate"  source="value.selectedData.source" end-time="value.selectedData.dropTime" end-date="value.selectedData.dropDate" destination="value.selectedData.destination" price="value.selectedData.localBus.price"></display-component>
      </div>
    </div>

    <div ng-if="value.type=='booking'">
       <div ng-if="value.final.mode=='flight'">
          <display-component object="value.final.flight" name="value.final.flight.companyName" logo="value.final.flight.image" mode-value="value.final.mode" mode-key="childServicesComponent.modePref(type)" seat-key="childServicesComponent.seatPref(value)" start-time="value.final.travelStartTime" source="value.final.flight.sourceAirport" start-date="value.final.travelStartDate" end-time="value.final.travelEndTime" end-date="value.final.travelEndDate" destination="value.final.flight.destinationAirport" price="value.final.flight.price" seat-preferences="childServicesComponent.getSeatPref()"></display-component>
       </div>
       <div ng-if="value.final.mode=='train'">
          <display-component object="value.final.train" name="value.final.train.companyName" logo="value.final.train.image" mode-value="value.final.mode" mode-key="childServicesComponent.modePref(type)" seat-key="childServicesComponent.seatPref(value)" start-time="value.final.travelStartTime" source="value.final.train.sourceStation" start-date="value.final.travelStartDate" end-time="value.final.travelEndTime" end-date="value.final.travelEndDate" destination="value.final.train.destinationStation" price="value.final.train.price" seat-preferences="childServicesComponent.getSeatPref()"></display-component>
       </div>
       <div ng-if="value.final.mode=='bus'">
          <display-component object="value.final.bus" name="value.final.bus.companyName" logo="value.final.bus.image" mode-value="value.final.mode" mode-key="childServicesComponent.modePref(type)" seat-key="childServicesComponent.seatPref(value)" start-time="value.final.travelStartTime" source="value.final.bus.sourceBusStop" start-date="value.final.travelStartDate" end-time="value.final.travelEndTime" end-date="value.final.travelEndDate" destination="value.final.bus.destinationBusStop" price="value.final.bus.price" seat-preferences="childServicesComponent.getSeatPref()"></display-component>
       </div>
    </div>
</div>
