<md-card  flex-xs="50" ng-model="flightSearchResult.flightSearchResult">
<div layout="row"  layout-align="space-around center" layout-xs="column">
  <div>
    <img  class="img" ng-src="public/assets/images/{{flightSearchResult.flightSearchResult.imagePath}}" alt="{{flightSearchResult.flightSearchResult.imagePath}}">
  </div>
  <div>{{flightSearchResult.flightSearchResult.arrivalTime}}</div>
  <div>{{flightSearchResult.flightSearchResult.departureTime}}</div>
  <div>{{flightSearchResult.flightSearchResult.duration}}</div>
  <div>{{flightSearchResult.flightSearchResult.price}}</div>
  <div layout="row" layout-align="center center">
    <button class="button md-raised md-primary md-button md-ink-ripple" ng-click="selectFlight('SpiceJet')" type="button" aria-label="Select"><span class="ng-scope">Select</span><div class="md-ripple-container"></div></button>
  </div>
</div>
</md-card>
