

<div class='container' layout='row' id='main-wrapper'>
	<div flex='25' id='filter-wrapper'>
		<md-card ng-repeat='filter in hotelSearchResults.filters'>
			<custom-input-box  type='{{filter.type}}' id='{{filter.id}}' label='{{filter.label}}' specific-attr='filter.options' reflect-custom-input="hotelSearchResults.reflectValue(keyString,value, id)" bind-data="hotelSearchResults.checkBoxInput.data" bind-data-key="checkBoxInput.data"></custom-input-box>
		</md-card>
	</div>


	<div flex='75' flex-sm='100' flex-xs='100' id='results-wrapper'>
		<hotel-search-result ng-repeat='searchResult in hotelSearchResults.searchResults' hotel-search-result='searchResult ' selected-filters='hotelSearchResults.selectedFilters' ng-if='searchResult.city==hotelSearchResults.selectedFilters["location"][0]'></hotel-search-result>
	</div>
</div>
