<travel-plan addnode="travelBookingParentCtrl.addNode()" subnode="travelBookingParentCtrl.subNode()" updatenode="travelBookingParentCtrl.updateNode()"
             currentnode="travelBookingParentCtrl.currentNode()" traveljson="travelBookingParentCtrl.travelPlan">

</travel-plan>
<travel-booking current-form-data="travelBookingParentCtrl.currentFormData"
                            current-form-fields-data="travelBookingParentCtrl.currentFormFieldsData"
                            essential-fields-update="travelBookingParentCtrl.essentialFieldsUpdate(fieldId, essentialFieldsValues)"
                            child-services-form-update="travelBookingParentCtrl.childServicesFormUpdate(childServiceId, fieldId, childServicesFormValues)">

</travel-booking>
