<!-- Inside Flight
<child-renderer array-of-child-fields-data="flightRenderer.arrayOfChildFieldsData" meta-data-of-child-fields="flightRenderer.metaDataOfChildFields" card-heading="{{flightRenderer.cardHeading}}"></child-renderer> -->
<!-- Inside Flight
<br>
this is flight comp -->
<!-- <child-card-renderer array-of-child-fields-data="flightRenderer.arrayOfChildFieldsData" meta-data-of-child-fields="flightRenderer.metaDataOfChildFields" card-heading="{{flightRenderer.cardHeading}}"></child-card-renderer> -->
<br>
before child-card-renderer-without-icons
<br>
<!-- <child-card-renderer-without-icons array-of-child-fields-data="flightRenderer.arrayOfChildFieldsData" meta-data-of-child-fields="flightRenderer.metaDataOfChildFields" card-heading="{{flightRenderer.cardHeading}}"></child-card-renderer-without-icons> -->
<md-card>
  <md-card-title>
    {{flightRenderer.cardHeading}}
  </md-card-title>

    <br>
   childFieldsData  Status$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    <br>

    <div ng-if="childFieldsData.state == 'initial' || childFieldsData.state == 'request'">

      <child-form-renderer fields-data="childFieldsData.requested" fields-meta-data="flightRenderer.metaDataOfChildFields"></child-form-renderer>

       <ng-md-icon flex="40" flex-offset="10" icon="delete"  ng-click="flightRenderer.onDelete($index)"></ng-md-icon>
       <ng-md-icon flex="40" flex-offset="10" icon="add_circle" ng-click="flightRenderer.onAdd()" ng-show="$index == flightRenderer.childFieldsData.length"></ng-md-icon>

    </div>
    <div ng-if="childFieldsData.state == 'select'">
       <!-- Insert read only component of stay -->
       {{$index}}
       <stay-selected-data-renderer index="{{$index}}" selected-meta-data="childFieldsData.selected" delete-selected-stay-child=flightRenderer.onDelete(index) edit-selected-stay-child=flightRenderer.onEdit(index)>
       </stay-selected-data-renderer>
    </div>

</md-card>
