<div class="progress-line">
  <div class=" node-sm travel-button " ng-click="edge.selectededge(edge.currentedge,['flight','bus','train'])">
    <div class="wrapper">
      <i class="material-icons">
        {{edge.travelelement.modesToSelectTheServices.mode}}
      </i>
      <div class="tooltip" ng-if="edge.travelelement.modesToSelectTheServices.mode=='' || !edge.travelelement.modesToSelectTheServices.mode">Select a Travel</div>
      <div class="tooltip" ng-if="edge.travelelement.modesToSelectTheServices.mode=='flight' && edge.travelelement.childServices['flight'].state==request">{{edge.travelelement.childServices['flight'].requested}}</div>
      <div class="tooltip" ng-if="edge.travelelement.modesToSelectTheServices.mode=='flight' && edge.travelelement.childServices['flight'].state==select">{{edge.travelelement.childServices['flight'].selected}}</div>
      <div class="tooltip" ng-if="edge.travelelement.modesToSelectTheServices.mode=='train' && edge.travelelement.childServices['train'].state==request">{{edge.travelelement.childServices['train'].requested}}</div>
      <div class="tooltip" ng-if="edge.travelelement.modesToSelectTheServices.mode=='train' && edge.travelelement.childServices['train'].state==select">{{edge.travelelement.childServices['train'].selected}}</div>
      <div class="tooltip" ng-if="edge.travelelement.modesToSelectTheServices.mode=='bus' && edge.travelelement.childServices['bus'].state==request">{{edge.travelelement.childServices['bus'].requested}}</div>
      <div class="tooltip" ng-if="edge.travelelement.modesToSelectTheServices.mode=='bus' && edge.travelelement.childServices['bus'].state==select">{{edge.travelelement.childServices['bus'].selected}}</div>
    </div>
  </div>
  <div class="middle-bar"></div>
  <div  class="edgechildServices" ng-repeat="(key,value) in edge.transitchildservices">
    <div class="wrapper">
      <i class="material-icons" ng-click="edge.selectededge(edge.currentnode,[key])">{{value.icons}}</i>
      <div class="tooltip" ng-if="!node.travelelement.childServices[key]">Select a {{key}}</div>
      <div class="tooltip" ng-if="node.travelelement.childServices[key].state=='request'">Requested a {{key}} at  {{node.travelelement.childServices[key].requested}}</div>
      <div class="tooltip" ng-if="node.travelelement.childServices[key].state=='select'">Selected a  {{key}} at  {{node.travelelement.childServices[key].selected}}</div>
    </div>
  </div>
</div>
